body {
  background:url("/media/img/background.jpg");
  background-size:100%;
  background-repeat:no-repeat;
}

.center {
  text-align: center;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
  width:30%;
  background-color:#FFFFFF;
  border:0px solid;
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
}
#logIn {
  overflow: hidden;
  height: 0px;
}